body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
}

.textbox{
	margin: auto;
	margin-top: 20px;
	width: 50%;
	text-align: center;
}

#text{
	width:75%;
	height: 25px;
	font-size: 20px;
}

#messagebox {
	border-color: black;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
	width: 50%;
	height: 500px;
	margin: auto;
	margin-top: 20px;
}

.message{
	margin-top: 10px;
	margin-left: 10px;
}